/* following widths:
- Mobile: 375px
- Desktop: 1440px 
Font size: 16px  
 */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

$primary-color: green;
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin fontTheme($weight: 400, $size: 12px, $alignment: center) {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-size: $size;
  text-align: $alignment;
}

@mixin backgrounds {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body {
  @include fontTheme;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; /* Full screen height */
}

.top_half,
.bottom_half {
  display: flex;
  color: white;
}

.top_half {
  background: url("./assets/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 300px;
}
.bottom_half {
  background-color: whitesmoke;
  padding: 23px 23px 0;
  display: flex;
  justify-content: center;
}

.top_nav {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
}
.logo {
  margin-left: 40px;
  width: 150px;
  height: 100%;

  background: url("./assets/logo.svg");
  @include backgrounds;
}

.header_options {
  display: none;
  margin-right: 40px;

  p:hover {
    cursor: pointer;
  }
}

.menuButton {
  margin-right: 40px;
  width: 30px;
  min-height: 30px;

  background: url("./assets/icon-hamburger.svg");
  @include backgrounds;
  display: block;
}
.menuButton.close {
  display: none;
}

.menuButton:hover,
#close:hover {
  cursor: pointer;
}

.groups {
  position: relative;
  top: -80px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first {
  position: relative;
}

.box {
  border-radius: 10px;
  width: 100%;
  padding: 25px;
  background: white;
}

.main_logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;

  background: url("./assets/logo-mastercraft.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading_title {
  color: $black;
  @include fontTheme(700, 24px, center);
  margin-bottom: 15px;
  margin-top: 30px;
}

.mobile_break {
  display: block;
}

.text_title {
  color: $dark-gray;
  @include fontTheme(500, 16px, center);
  margin-bottom: 20px;
}
.box_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.stats_box {
  width: 50%;
  border-bottom: 1px solid $dark-gray;
}
.avoid {
  border-bottom: none;
}

.number_stats {
  color: $black;
  @include fontTheme($weight: 700, $size: 32px, $alignment: center);
  margin-bottom: 10px;
  margin-top: 10px;
}
.text_stats {
  color: $dark-gray;
  @include fontTheme($weight: 400, $size: 14px, $alignment: center);
  margin-bottom: 25px;
}

.bar_container {
  width: 100%;
  background-color: #ddd;
  border-radius: 15px;
  margin-bottom: 25px;
}

.bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

  width: 80%;
  background-color: $moderate-cyan;
  border-radius: 15px;
}

.back_button {
  background: $moderate-cyan;
  color: white;
  border: none;

  width: 225px;
  height: 60px;

  border-radius: 30px;
  transition: 0.3s;
  @include fontTheme($weight: 700, $size: 16px, $alignment: center);
}
.back_button:hover,
.reward_button:hover {
  cursor: pointer;
  background: $dark-cyan;
}

.bookmark_button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;

  background: url("./assets/icon-bookmark.svg");
  background-position: center;
  background-size: cover;
}

/* third */
.about {
  color: $black;
  @include fontTheme(700, 24px, left);
  margin-bottom: 15px;
}
.about_text {
  color: $dark-gray;
  @include fontTheme(500, 16px, justify);
  margin-bottom: 30px;
  line-height: 24px;
}

.stands {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sub_box {
  border: 1px solid $dark-gray;
  min-height: 100px;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.out_of_stock {
  opacity: 0.5;
}

.stand_tittle {
  color: $black;
  @include fontTheme($weight: 700, $size: 16px, $alignment: left);
  margin-bottom: 5px;
}

.stand_price {
  color: $moderate-cyan;
  @include fontTheme($weight: 500, $size: 16px, $alignment: left);
  margin-bottom: 20px;
}

.stand_text {
  color: $dark-gray;
  @include fontTheme($weight: 500, $size: 16px, $alignment: justify);
  margin-bottom: 20px;
  line-height: 24px;
}

.stock {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.amount {
  color: $black;
  @include fontTheme($weight: 700, $size: 28px, $alignment: left);
}

.left {
  color: $dark-gray;
  @include fontTheme($weight: 500, $size: 16px, $alignment: left);
}

.reward_button {
  background: $moderate-cyan;
  color: white;
  border: none;

  width: 180px;
  height: 45px;

  border-radius: 30px;
  transition: 0.3s;
  @include fontTheme($weight: 500, $size: 16px, $alignment: center);
}

.out_button {
  background: $dark-gray;

  color: white;
  border: none;

  width: 180px;
  height: 45px;

  border-radius: 30px;
  transition: 0.3s;
  @include fontTheme($weight: 500, $size: 16px, $alignment: center);
}

/* Modal menu */
#myModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#myModal.active {
  display: block;
}
/* Modal Content */
.modal_content {
  position: relative;

  background-color: white;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal_box {
  padding: 15px;
  color: $black;
  @include fontTheme($weight: 700, $size: 18px, $alignment: left);
}
.mb_one,
.mb_two {
  border-bottom: 0.5px solid $dark-gray;
}
/* The Close Button */
#close {
  width: 40px;
  height: 40px;
  background: url("./assets/icon-close-menu.svg");
  background-position: center;
  background-size: cover;
  align-self: flex-end;
  position: absolute;
  top: -75px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .header_options {
    display: flex;
    gap: 50px;
    @include fontTheme(700, 16px, center);
  }
  .menuButton {
    display: none;
  }

  .mobile_break {
    display: none;
  }

  .bottom_half {
    padding: 100px 100px 0;
  }

  .groups {
    top: -130px;
    width: 85%;
  }

  .first {
    width: 100%;
  }

  .box_container {
    flex-direction: row;
  }
  .stats_box {
    border-right: 1px solid $dark-gray;
    border-bottom: none;
    margin-bottom: 25px;
  }
  .avoid {
    border-right: none;
  }

  .top_half {
    background: url("./assets/image-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sub_box {
    padding: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .first {
    width: 100%;
  }

  .groups {
    width: 70%;
  }
}
