@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; /* Full screen height */
}

#thanksModal {
  line-height: 24px;
  /* */
  display: none; /* Hidden by default   */
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/*  */
#thanksModal.active_Modal_message {
  display: block;
}

.thanks {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 15px;
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  border-radius: 15px;
  color: hsl(0, 0%, 0%);
  display: flex; /* none  */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.thanks h3 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}
.thanks p {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
}

.checkmark_done {
  background: url("./assets/icon-check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
}

.got_it_button {
  width: 115px;
  height: 45px;
}

.top_half,
.bottom_half {
  display: flex;
  color: white;
}

.top_half {
  background: url("./assets/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}

.bottom_half {
  background-color: whitesmoke;
  padding: 23px 23px 0;
  display: flex;
  justify-content: center;
}

.top_nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
}

.logo {
  margin-left: 40px;
  width: 150px;
  height: 100%;
  background: url("./assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header_options {
  display: none;
  margin-right: 40px;
}
.header_options p:hover {
  cursor: pointer;
}

.menuButton {
  margin-right: 40px;
  width: 30px;
  min-height: 30px;
  background: url("./assets/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

/* on resize */
.menuButton.close {
  display: none;
}

.menuButton:hover,
#close:hover,
.select {
  cursor: pointer;
}

/* on resize */
.groups {
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first {
  position: relative;
}

.box {
  border-radius: 10px;
  width: 100%;
  padding: 25px;
  background: white;
}

.main_logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: url("./assets/logo-mastercraft.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading_title {
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

.mobile_break {
  display: block;
}

.text_title {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.box_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* buttons section */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

#back_button {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  background: hsl(176, 50%, 47%);
  color: white;
  border: none;
  width: 225px;
  height: 60px;
  border-radius: 30px;
  transition: 0.3s;
}

.bookmark {
  display: flex;
  align-items: center;
  position: relative;
}

.bookmark_button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
}

/* toggle class */
.circle {
  fill: hsl(176, 50%, 47%);
  transition: 0.3s;
}

.path {
  fill: white;
  transition: 0.3s;
}

.bookmark_text {
  color: hsl(176, 50%, 47%);
  transition: 0.3s;
}

/* toggle class */
.bookmark_section p {
  display: none;
}

.stats_box {
  width: 50%;
  border-bottom: 1px solid hsl(0, 0%, 48%);
}

.avoid {
  border-bottom: none;
}

.number_stats {
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text_stats {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  margin-bottom: 25px;
}

.bar_container {
  width: 100%;
  background-color: #ddd;
  border-radius: 15px;
  margin-bottom: 25px;
}

.bar {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 80%;
  background-color: hsl(176, 50%, 47%);
  border-radius: 15px;
}

#back_button:hover,
.reward_button:hover,
.continue_button:hover,
.got_it_button {
  cursor: pointer;
  background: hsl(176, 72%, 28%);
}

/* 
#bookmarkText {
  display: none;
}
*/
.bookmark:hover,
.pledge_input:hover {
  cursor: pointer;
}

/* third */
.about {
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  text-align: left;
  margin-bottom: 15px;
}

.about_text {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 30px;
  line-height: 24px;
}

.stands {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sub_box {
  border: 1px solid hsl(0, 0%, 48%);
  min-height: 100px;
  padding: 15px; /* 20 */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/* select Button */
.check_section {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Radio Button */
input[type=radio] {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.custom_radio {
  appearance: none;
  -webkit-appearance: none; /* Safari support */
  border: 0.2rem solid #fff;
  background-color: #e8e8e8;
  border-radius: 50%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 10px;
}

.custom_radio:focus-visible {
  outline-offset: 0;
}

.custom_radio:checked {
  box-shadow: 0 0 0 1px hsl(176, 72%, 28%);
  background-color: hsl(176, 50%, 47%);
  border-width: 0.3rem;
}

/* */
.sub_box_two {
  border: 1px solid hsl(0, 0%, 48%);
  min-height: 100px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.sub_box_two.selected {
  box-shadow: 0 0 0 2px hsl(176, 50%, 47%);
}

.enter_pledge {
  border-top: 1px solid hsl(0, 0%, 48%);
  display: none;
  flex-direction: column;
  gap: 20px;
}

/* */
.enter_pledge.active_show {
  display: flex;
}

.message {
  margin-top: 15px;
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.buttons_continue {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.pledge_input, .continue_button {
  width: 125px;
  height: 45px;
  border-radius: 30px;
  transition: 0.3s;
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.continue_button {
  background: hsl(176, 50%, 47%);
  color: white;
  border: none;
}

.pledge_input {
  background: white;
  color: hsl(0, 0%, 0%);
  border: 1px solid hsl(176, 72%, 28%);
}

.out_of_stock {
  opacity: 0.5;
}

.stand_tittle {
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}

.info_price {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stand_price {
  color: hsl(176, 50%, 47%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  /* margin-bottom: 20px;  */
}

.stand_text {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 24px;
}

.stock {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.amount {
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  text-align: left;
}

.left {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: left;
}

.reward_button, .got_it_button {
  border-radius: 30px;
  transition: 0.3s;
  background: hsl(176, 50%, 47%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: white;
  border: none;
}

.reward_button {
  width: 180px;
  height: 45px;
}

.out_button {
  background: hsl(0, 0%, 48%);
  color: white;
  border: none;
  width: 180px;
  height: 45px;
  border-radius: 30px;
  transition: 0.3s;
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

#back_this_project {
  line-height: 24px;
  /* */
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#back_this_project h3 {
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}
#back_this_project .project_text {
  color: hsl(0, 0%, 48%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}
#back_this_project .heading {
  display: flex;
  justify-content: space-between;
}
#back_this_project #close_menu {
  height: 30px;
  width: 30px;
  background: url("./assets/icon-close-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
#back_this_project #close_menu:hover {
  cursor: pointer;
}

#back_this_project.active_Modal {
  display: block;
}

.content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 15px;
}

/* Modal menu */
#myModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#myModal.active {
  display: block;
}

/* Modal Content */
.modal_content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 15px;
}

.modal_box {
  padding: 15px;
  color: hsl(0, 0%, 0%);
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-align: left;
}

.mb_one,
.mb_two {
  border-bottom: 0.5px solid hsl(0, 0%, 48%);
}

/* The Close Button */
#close {
  width: 40px;
  height: 40px;
  background: url("./assets/icon-close-menu.svg");
  background-position: center;
  background-size: cover;
  align-self: flex-end;
  position: absolute;
  top: -75px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal menu */
@media screen and (min-width: 768px) {
  .header_options {
    display: flex;
    gap: 50px;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
  }
  .menuButton {
    display: none;
  }
  .mobile_break {
    display: none;
  }
  .bottom_half {
    padding: 100px 100px 0;
  }
  .groups {
    top: -130px;
    width: 85%;
  }
  .first {
    width: 100%;
  }
  .box_container {
    flex-direction: row;
  }
  .stats_box {
    border-right: 1px solid hsl(0, 0%, 48%);
    border-bottom: none;
    margin-bottom: 25px;
  }
  .avoid {
    border-right: none;
  }
  .top_half {
    background: url("./assets/image-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sub_box {
    padding: 30px;
  }
  .bookmark_button {
    position: absolute;
  }
  .bookmark_section {
    height: 50px;
    width: 180px;
    border-radius: 50px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 48%);
  }
  .bookmark_section p {
    display: block;
    padding-left: 70px;
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
  }
  /*
    #bookmarkText {
      display: block;
    }
  */
  .info_price {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    gap: 30px;
  }
  .content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
  }
  .enter_pledge {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .thanks {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .first {
    width: 100%;
  }
  .groups {
    width: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
